<div class="about even" id="about">
    <div class="ui stackable two column grid">
        <div class="column">
            <h3 class="section-header">Who Am I?</h3>
            <div id="about-paragraph">
                <p> 
                    I'm an aspiring web developer who is always looking for new things to learn.
                    I'm currently interested in NodeJS, ReactJS, and Amazon Web Services. I have created some projects that have 
                    utilized these tools - check them out in the <a href=#projects>projects section</a> of this page!
                    My goal is to now use these skills in a real world application!
                </p>
                <p>
                    <u>Random facts about me:</u><br>
                    I like to play Path of Exile, an action role-playing game created by 
                    Grinding Gear Games. Movie of the summer for me is Baby Driver.
                    I try to stay healthy and go to the gym, and I hope that in the near
                    future I can travel to Japan with my friends!
                </p>
            </div>
        </div>
        <div id="about-image" class="column">
            <img src="../images/ksogata.jpg" width="100%" height="100%">
        </div>
    </div>
</div>
