<div class="contact even" id="contact">
  <h3 class="section-header">Contact Me</h3>
  <div class="ui stackable two column grid">
    <div class="column">
      <p>
        Hey! Thanks for going through my site and getting all the way down here!
        Please feel free to contact me about any questions or inquiries that you
        may have. If you are an employer and looking to hire me, the best way to 
        contact me would be directly through my 
        <a href="mailto:kevinsogata@gmail.com" target="_top">E-mail.</a><br><br>
        For anything else, you can use this form and I will try to get back to you as soon as I can.
        <br><br>
        
        <a href="#top"><i class="Chevron Circle Up icon"></i> Back to Top</a>
      </p>
    </div>
    <div class="column">
      <form class="ui form contact-form" 
        action="//formspree.io/kevinsogata@gmail.com" method="POST"
      >
        <div class="field">
          <label>Your Name</label>
          <input type="text" name="name" placeholder="Your Name" required>
        </div>
        <div class="field">
          <label>Your Email</label>
          <input type="email" name="_replyto" placeholder="Your Email" required>
        </div>
        <div class="field">
          <label>Subject</label>
          <input type="text" name="subject" placeholder="Subject">
        </div>
        <div class="field">
          <label>Message</label>
          <textarea 
            name="message" 
            placeholder="Your message goes here..." 
            required
          ></textarea>
        </div>
        <button class="ui button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

