<html>
    <head>
        <Title>Kevin Sogata</Title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    </head>
    <body>
        <div class="ui inverted menu">
            <div class="ui container">
                <div id="top" class="header item">
                    Kevin Sogata
                </div>
                <a class="item" href="#about">
                    About
                </a>
                <a class="item" href="#work">
                    Experience
                </a>
                <a class="item" href="#education">
                    Education
                </a>
                <a class="item" href="#projects">
                    Projects
                </a>
                <a class="item" href="#contact">
                    Contact
                </a>
                <div class="right item">
                    <a class="item" 
                        href="{{ site.data.social.facebook }}" 
                        target="_blank"><i class="Facebook F icon"></i>
                    </a>
                    <a class="item" 
                        href="{{ site.data.social.github }}" 
                        target="_blank"><i class="Github icon"></i>
                    </a>
                    <a class="item" 
                        href="{{ site.data.social.linkedin }}" 
                        target="_blank"><i class="Linkedin icon"></i>
                    </a>
                </div>
            </div>
        </div>
    

