<div class="education even" id="education">
    <h3 class="section-header">Education</h3>
    {% for education in site.data.education %}
        <div class="education-content">
            <p class="qualification">{{ education.qualification }}</p>
            <div id="edu-logo">
                <a href="{{ education.link }}" target="_blank">{{ education.image }}</a>
            </div>
            <p class="period">{{ education.period }}</p>
        </div>
        
        <!--<p class="description">{{ education.description }}</p>-->
    {% endfor %}
</div>